PORT=5000
AUTH_SERVICE_URL=http://localhost:5001
SETTINGS_SERVICE_URL=http://localhost:5002
GROUPS_SERVICE_URL=http://localhost:5003
TRIPS_SERVICE_URL=http://localhost:5004
HOTELS_SERVICE_URL=http://localhost:5005
TRANSPORT_SERVICE_URL=http://localhost:5006
CONTRACTS_SERVICE_URL=http://localhost:5007
NOTES_SERVICE_URL=http://localhost:5008
